---
---
<!DOCTYPE html>
<html lang="en-US">
	<head>
		{%include head.html%}

		{%include favicon.html%}

		<link rel="stylesheet" href="{{site.baseurl}}/en/en-styles/en-index.css">
	</head>

	<body class="lang-en">

		{%include body-cdn.html%}

		{%include en/en-navbar.html%}

		<header class="section-header">

			<div class="header-row-1">

				<div class="header-img">
					<img src="{{site.baseurl}}/cm-images/placeholder.svg" loading="lazy">
				</div>

				<div class="header-desc font-mochipy">
					<div class="header-desc-col">
						<p>Hello!</p>
						<h1>We are Quarks!</h1>
						<h2 class="font-noto">A transgender community<br>located in Hong Kong!</h2>
					</div>
					<a href="{{site.baseurl}}/en/en-subpages/about/about.html" class="font-outfit break-letter header-btn-desktop">What is Transgender? </a>
					<a href="{{site.baseurl}}/en/en-subpages/about/about.html" class="font-outfit break-letter header-btn-mobile">Transgender? </a>
				</div>

			</div>
				
			<div class="header-row-2 loop-h">
				<div class="loop-h-child">Gender Empowerment</div>
				<div class="loop-h-child">TG Resource Center</div>
				<div class="loop-h-child">Asso for TG Rights</div>
				<div class="loop-h-child">Transgender Equality HK</div>
			</div>
		</header>

		<section class="section-about">
			<div class="about-intro">
				{%include divider-1.html%}
				<div class="font-outfit"><p>Here at Quarks, </p><h2>Our mission</h2><p> is to...</p></div>
				{%include divider-1.html%}
			</div>

			<div class="about-fields-c">
				<div class="about-fields">
					<div class="about-img">
						{%include icon/icon-connect.html%}
					</div>
					<div class="a-fields-desc">
						<h3 class="font-outfit">Connect with the Community</h3>
						<p class="break-letter">Field Description Description Lorem Ipsum Lorem Ipsum Wow</p>
					</div>
				</div>

				<div class="about-fields">
					<div class="about-img">
						{%include icon/icon-visibility.html%}
					</div>
					<div class="a-fields-desc">
						<h3 class="font-outfit">Promote Visibility</h3>
						<p class="break-letter">Field Description Description Lorem Ipsum Lorem Ipsum Wow</p>
					</div>
				</div>

				<div class="about-fields">
					<div class="about-img">
						{%include icon/icon-resource.html%}
					</div>
					<div class="a-fields-desc">
						<h3 class="font-outfit">Provide Resources</h3>
						<p class="break-letter">Field Description Description Lorem Ipsum Lorem Ipsum Wow</p>
					</div>
				</div>
			</div>

			<div class="about-plaforms">
				<div class="a-platforms-header">
					<h2 class="font-outfit">Follow Us!</h2>
				</div>

				<div class="a-platforms-desc">
					<a href="https://www.instagram.com/quarkshk/">
						{%include icon/icon-instagram.html%}
					</a>

					<a href="https://www.youtube.com/@quarkshk">
						{%include icon/icon-youtube.html%}
					</a>

					<a href="https://www.facebook.com/quarkshk/?locale=zh_HK">
						{%include icon/icon-facebook.html%}
					</a>
				</div>
			</div>
		</section>

		<section class="section-news">
			<div class="news-intro">
				<h2 class="font-outfit">News</h2>
				<p>Lorem Ipsum placeholder text</p>
			</div>

			<div class="news-main">
				<div class="news-det font-outfit">
					<h3 class="news-det-header">News #1</h3>
					<p class="n-det-ent">
						<span class="n-det-left">Date</span>
						<span class="n-det-right">YYYY/MM/DD</span>
					</p>

					<p class="n-det-ent">
						<span class="n-det-left">Venue</span>
						<span class="n-det-right">Place</span>
					</p>

					<p class="n-det-ent">
						<span class="n-det-left">Time</span>
						<span class="n-det-right">--:--</span>
					</p>

					{%include divider-1.html%}

					<p class="n-det-content lorem"></p>

					{%include divider-1.html%}
				</div>

				<div class="news-gallery">
					<div class="n-gallery-img">
						<img src="{{site.baseurl}}/cm-images/placeholder.svg" loading="lazy">
						<img src="{{site.baseurl}}/cm-images/placeholder.svg" loading="lazy">
						<img src="{{site.baseurl}}/cm-images/placeholder.svg" loading="lazy">
					</div>

					<div class="n-gallery-selector font-outfit">
						<button>&#12296;</button>
						<h6>Event 1</h6>
						<button>&#12297;</button>
					</div>

					<div class="n-gallery-selector font-outfit">
						<p>Click to preview the images!</p>
					</div>
				</div>
			</div>

		</section>

		<section class="section-events">
			<div class="evt-intro font-outfit">
				<h2>Previous Events</h2>
				<p>Click to learn more!</p>
			</div>

			<div class="evt-cards-c">
				<div class="evt-cards font-outfit">
					<img src="{{site.baseurl}}/cm-images/placeholder.svg" loading="lazy">
					<h6>Event 1</h6>
					<p class="lorem"></p>
					<div class="evt-cards-expand"></div>
				</div>

				<div class="evt-cards font-outfit">
					<img src="{{site.baseurl}}/cm-images/placeholder.svg" loading="lazy">
					<h6>Event 2</h6>
					<p class="lorem"></p>
					<div class="evt-cards-expand"></div>
				</div>

				<div class="evt-cards font-outfit">
					<img src="{{site.baseurl}}/cm-images/placeholder.svg" loading="lazy">
					<h6>Event 3</h6>
					<p class="lorem"></p>
					<div class="evt-cards-expand"></div>
				</div>
				
				<div class="evt-cards font-outfit">
					<img src="{{site.baseurl}}/cm-images/placeholder.svg" loading="lazy">
					<h6>Event 4</h6>
					<p class="lorem"></p>
					<div class="evt-cards-expand"></div>
				</div>
			</div>
		</section>

		{%include en/en-quote.html%}

		{%include en/en-footer.html%}

		{%include js-helpers.html%}
	</body>
</html>