<footer>
	<div class="footer-row">
		<div class="footer-col">
			<h6>Address</h6>
			<ul>
				<li>District</li>
				<li>Street</li>
				<li>Floor</li>
				<li>Room</li>
			</ul>
		</div>

		<div class="footer-col">
			<h6>Social Media</h6>
			<ul>
				<a href=""><li>Instagram</li></a>
				<a href=""><li>Youtube</li></a>
				<a href=""><li>Facebook</li></a>
			</ul>
		</div>

		<div class="footer-col">
			<h6>Email</h6>
			<ul>
				<li>contact@quarkshk.org</li>
			</ul>

			<h6>Phone</h6>
			<ul>
				<li>+852 1234 5678</li>
			</ul>
		</div>
	</div>
	<div class="footer-rsrv">
		<h6>©2025 Quarks. All rights reserved.</h6>
		<p><i>Website Designed by IHOKE (Hermina Tealie)</i></p>
	</div>
</footer>