<!-- Main Nav -->
<nav class="nav-main font-outfit">
	<div class="nav-m-brand">
		<a href="{{site.baseurl}}/en/index.html">
			<img src="{{site.baseurl}}/cm-images/brand.svg" alt="Quarks Logo" loading="lazy">
		</a>
	</div>
		
	<ul class="nav-m-links">
		<a href="{{site.baseurl}}/en//en-subpages/about/about.html"><li>About <span>Us</span></li></a>
		<a href="{{site.baseurl}}/en/en-subpages/student/student.hmtl"><li>Students</li></a>
		<a href="{{site.baseurl}}/en/en-subpages/healthcare/healthcare.html"><li>Healthcare</li></a>
		<a href="{{site.baseurl}}/en/en-subpages/law/law.html"><li>Laws</li></a>
	</ul>

	<div class="nav-m-misc">
		<div class="button-lang"><a href="/zh/index.html">中</a></div>
		<button class="button-side" onclick="toggleNavSide()">
			<span></span><span></span><span></span>
		</button>
	</div>
</nav>

<!-- Side Nav -->
<nav class="nav-side font-outfit">
	<div class="nav-s-brand">
		<a href="{{site.baseurl}}/en/index.html">
			<img src="{{site.baseurl}}/cm-images/brand.svg" alt="Quarks Logo" loading="lazy">
		</a>
	</div>

	<div class="nav-s-close">
		<div class="button-lang"><a href="/zh/index.html">中</a></div>
		<button class="button-side" onclick="toggleNavSide()">
			<span></span><span></span>
		</button>
	</div>

	<ul class="nav-s-links">
		<a href="{{site.baseurl}}/en/en-subpages/about/about.html"><li>About Us</li></a>
		<a href="{{site.baseurl}}/en/en-subpages/student/student.hmtl"><li>Students</li></a>
		<a href="{{site.baseurl}}/en/en-subpages/healthcare/healthcare.html"><li>Healthcare</li></a>
		<a href="{{site.baseurl}}/en/en-subpages/law/law.html"><li>Laws</li></a>
	</ul>

</nav>