<section class="section-quote">
	<div class="quote-left">
		<h4 class="font-sitka">Quarks.</h4>
		<div class="transflag">
			<span></span><span></span><span></span><span></span><span></span>
		</div>
		<p class="font-sitka"><i>Where Transgender Youth Thrive</i></p>
	</div>

	<div class="quote-divider"></div>

	<div class="quote-right">
		<a href="https://www.instagram.com/quarkshk/">{%include icon-instagram.html%}</a>
		<a href="https://www.youtube.com/@quarkshk">{%include icon-youtube.html%}</a>
		<a href="https://www.facebook.com/quarkshk/?locale=zh_HK">{%include icon-facebook.html%}</a>
	</div>
</section>